@font-face {
    font-family: "PumpDemi";
    src: url(../Content/Fonts/Pump_Demi_Bold_Plain_Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Horatio-Light";
    src: url(../Content/Fonts/HoratioEF_Light_Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Horatio-Medium";
    src:url(../Content/Fonts/Horatio_D_Medium.ttf) format('truetype');
}

@font-face {
    font-family: "Nimrod";
    src:url(../Content/Fonts/nimrod/Nimrod_Cyr.ttf) format('truetype');
}



:root{

    --white: white;
    --pink: #E8C1C1;
    --dark-pink: #C07171;
    --black-red: #290404;


    --font-title: "PumpDemi", Arial, Helvetica, sans-serif;
    --font-text: "Horatio-Light", Arial, Helvetica, sans-serif;
    --font-text-bold: "Horatio-Medium", Arial, Helvetica, sans-serif;
    --font-nim: "Nimrod",Arial, Helvetica, sans-serif;

    --small-text: 18px;
    --medium-text: 24px;
    --large-text: 36px;
    --title-size-text: 75px;

    --tiny-space: 5px;
    --small-space: 10px;
    --medium-space: 20px;
    --large-space: 50px;

    --line-height: 1.5;


}


* {
	box-sizing: border-box;
}

body{
    background: url(../Content/Images/bg_bigger.webp) no-repeat center center fixed;
    background-size: cover;
}

main{
    margin: 50px;
}

/* @media screen and (max-width: ) */


h1{
    font-family: var(--font-text);
    line-height: var(--line-height);
}

p{
    color: var(--white);
    font-family: var(--font-text);
    font-size: var(--medium-text);
    line-height: var(--line-height);
}

.Intro-Text{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;


    .intro-v{
        margin: 0;
        color: var(--pink);
        text-shadow: -2px 2px var(--black-red);
        font-size:var(--title-size-text);
        letter-spacing: var(--small-space);

       
    }

    .pink-pump{
    

        font-family: var(--font-title);
        text-align: center;
        text-shadow: -10px 10px var(--black-red);

    }

}

/*calander*/
.calender-input{

    margin: 10px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p{
      margin: var(--small-space);
      letter-spacing: 2px;
    }
}

.calender{
    margin-bottom: var(--medium-space);
}

.button-design{

        background-color: transparent;
        padding: 10px 18px;
        border: 3px solid var(--pink);
        border-radius: var(--large-space);
        background-color: var(--black-red);
       
        filter: drop-shadow(0px 0px 5px var(--pink));
        

        color: var(--pink);
        font-family: var(--font-text-bold);
        font-size: var(--small-text);

        letter-spacing: 2px;

   
}
 .button-design:hover{
         animation: grow .2s ease-out forwards;
    }

#birthdayDate{
    margin: 0 5px;
    border: 2px solid var(--black-red);

    border-radius: var(--small-space);
    padding: 5px 30px;
    font-size: var(--small-text);
    font-family: var(--font-text-bold);

    color: var(--black-red);
}



.zodiac-selection{

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: var(--medium-space);
    align-content: center;
    margin: auto;

    max-width: 700px;
    

    button{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    button:hover{
        
        animation: grow .2s ease-in-out forwards;
    }

    img{
        max-width: 100%;
        height: auto;
        border: 3px dashed var(--pink);
        padding: 0;
        
    }

}

.side-bar-open{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    left: -2000px; 
    z-index: 20;
        
    /*side bar overlay*/
    .side-bar-info{

        background-color:var(--black-red);
        position: fixed;
        top: 0;
        bottom: 0;
        left: -4400px; 
        width: 40vw; /*850px*/
        padding: 80px var(--large-space);
        transition: left .5s ease-in;
        opacity: 0;

        

    .exit-box{
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        max-width: 60px;
        position: absolute;
        right: 40px;
        top: 40px;
        
        

        img{
            height: 60px;
            /* position: absolute;
            top: 50px; */
            cursor: pointer;
        }
    }


    /*____ your song is...*/
    .zodiac-wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .zodiac-you-are{
        
        padding: var(--small-space);
        display: flex;
        flex-direction: row;
        gap: var(--small-space);
        padding: 20px 10%;

        #z-name{
            color: var(--pink);
            font-family: var(--font-title);
            font-size: var(--large-text);
            margin: 0;
            
        }

        p{
            margin: auto 0;
        }

        .ur-name-group{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        
    }


    /*album picute + name*/
    .album-pic-name{
        display: flex;
        flex-direction: column;
        align-content: center ;
        margin: 10px auto;

        
        figure{
            margin: 0;
        }
        

        figcaption{
            color: pink;
            font-family: var(--font-text-bold);
            font-size: var(--large-text);
            text-align: center;
            margin-top: var(--medium-space);
            filter: drop-shadow(0px 0px 5px var(--pink));

        }

        #z-album-image{
            margin: auto;
            filter: drop-shadow(0px 0px 25px var(--pink));
            width: 300px;
 
            animation: spin 8s linear infinite;

        }


        #z-album-name{
            text-align: center;
            margin: 0;
            font-style: italic;
            margin-top: var(--small-space);
            
        }
    }


    /*zodiac relation*/
    .z-description{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: var(--medium-space);
        margin: 10px auto;
        letter-spacing: 1.5px;
        
    
        p{
            font-size: 20px;
            margin-bottom: auto;
            text-align: center;
        }

       
       
    }

}
}

.side-bar-open.show{
    left: 0;
    width: 100vw; /*850px*/
    transition: opacity .5s ease;
    opacity: 1;

    .side-bar-info{
    left:25%;
    width: 50vw; /*850px*/
    transition: left .5s ease;
    opacity: 1;
    }

}


    @keyframes spin{
        from{
            transform:  rotate(0);
        }
        to{
            transform: rotate(360deg);
            }
    }


/*container for help button position*/
.hb-container{
    position: relative;
    bottom: 55px;
    max-width: 835px;
    margin: auto;
}


.help-button-box{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none; /*elements still able to be interacted with*/
    
    .instructions{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--pink);
        padding: var(--medium-space);
        border-radius: var(--medium-space);
        border: 5px solid var(--black-red);
        box-shadow:  0 5px 5px var(--black-red);

        ul{
            margin: var(--medium-space);
            color: var(--black-red);
            font-weight: 800;
            letter-spacing: 2px;
            list-style-type: none;
           
            font-family: var(--font-text);
            font-size: var(--medium-text);
            display: flex;
            flex-direction: column;
            gap: var(--medium-space);

            .find-yours{
                text-align: center;
                font-family: var(--font-text-bold);
            }
        }
      
    }
}


/*help instructions show*/
.help-button-box.show{

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-red) 0.5;
    backdrop-filter: blur(10px);
    opacity: 1;
    pointer-events: auto; /*elements behind this cant be interacted with*/
    

}

/*?*/
.help-open-buttons{       

    position: absolute;
    right: 0;
    
        margin: 0;    
        padding: 10px 18px;
        border: 3px solid var(--pink);
        border-radius: var(--large-space);
        background-color: var(--black-red);

        color: var(--pink);
        font-family: var(--font-text-bold);
        font-size: var(--medium-text);

        letter-spacing: 2px;
            
}


.help-close-buttons{       
        margin: 10px 0;
        
        padding: 20px 25px;
        border: 3px solid var(--pink);
        border-radius: var(--large-space);
        background-color: var(--black-red);
       

        color: var(--pink);
        font-family: var(--font-text-bold);
        font-size: var(--medium-text);

        letter-spacing: 2px;
            
}


.help-open-buttons:hover{
     animation: grow .2s ease-out forwards;
}


.help-close-buttons:hover{
     animation: grow .2s ease-out forwards;
}


@keyframes grow {
    0%{
        transform: scale(1);   
    }
    100%{
        transform: scale(1.1);
    }
    
}
